CREATE DATABASE QLTV_BETA
GO
USE [QLTV_BETA]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 5/22/2024 12:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](5) NOT NULL,
	[MatKhau] [varchar](5) NOT NULL,
	[MaDG] [varchar](5) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/22/2024 12:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [varchar](5) NOT NULL,
	[Ten] [varchar](255) NULL,
	[NgayLapThe] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 5/22/2024 12:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MaDG] [varchar](5) NOT NULL,
	[LoaiDG] [varchar](255) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[NgayLapThe] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETERs]    Script Date: 5/22/2024 12:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETERs](
	[IDDocGia] [int] NULL,
	[IDSach] [int] NULL,
	[IDPhMuon] [int] NULL,
	[IDPhThu] [int] NULL,
	[IDPhTra] [int] NULL,
	[SoNgMuonTD] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 5/22/2024 12:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MaPhMuon] [varchar](5) NOT NULL,
	[MaDG] [varchar](5) NULL,
	[MaSach] [varchar](5) NULL,
	[NgayMuon] [date] NULL,
	[NgayPhTra] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 5/22/2024 12:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhTra] [varchar](5) NULL,
	[SoNgayQHan] [smallint] NULL,
	[SoTienThu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 5/22/2024 12:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MaPhTra] [varchar](5) NOT NULL,
	[MaPhMuon] [varchar](5) NULL,
	[NgayTra] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 5/22/2024 12:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [varchar](5) NOT NULL,
	[TenSach] [varchar](255) NULL,
	[TheLoai] [varchar](255) NULL,
	[TacGia] [varchar](255) NULL,
	[NamXB] [smallint] NULL,
	[NhaXB] [varchar](255) NULL,
	[NgayNhap] [date] NULL,
	[TriGia] [int] NULL,
	[TinhTrang] [bit] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ID], [TaiKhoan], [MatKhau], [MaDG], [IsDeleted]) VALUES (1, N'USER1', N'pass1', N'DG001', 0)
INSERT [dbo].[ACCOUNT] ([ID], [TaiKhoan], [MatKhau], [MaDG], [IsDeleted]) VALUES (2, N'USER2', N'pass2', N'DG002', 0)
INSERT [dbo].[ACCOUNT] ([ID], [TaiKhoan], [MatKhau], [MaDG], [IsDeleted]) VALUES (3, N'USER3', N'pass3', N'DG003', 0)
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
INSERT [dbo].[Category] ([Id], [Ten], [NgayLapThe], [IsDeleted]) VALUES (N'4Rz4k', N'aaasssll', CAST(N'2024-05-22' AS Date), 0)
INSERT [dbo].[Category] ([Id], [Ten], [NgayLapThe], [IsDeleted]) VALUES (N'abc12', N'ABC', CAST(N'2022-10-10' AS Date), 1)
INSERT [dbo].[Category] ([Id], [Ten], [NgayLapThe], [IsDeleted]) VALUES (N'abc13', N'ABC2', CAST(N'2022-10-10' AS Date), 1)
GO
INSERT [dbo].[DOCGIA] ([MaDG], [LoaiDG], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [IsDeleted]) VALUES (N'DG001', N'LDOCGIA_A', CAST(N'2005-11-29' AS Date), N'12 Nguy?n Huy T?, phu?ng Ða Kao, qu?n 1, Tp. H? Chí Minh', N'thanhdangphan1510@gmail.com', CAST(N'2023-04-22' AS Date), 0)
INSERT [dbo].[DOCGIA] ([MaDG], [LoaiDG], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [IsDeleted]) VALUES (N'DG002', N'LDOCGIA_B', CAST(N'2007-07-01' AS Date), N'104 Hoàng Di?u, phu?ng 12, qu?n 4,Tp, H? Chí Minh', N'hungdung1234@gmail.com', CAST(N'2022-06-09' AS Date), 0)
INSERT [dbo].[DOCGIA] ([MaDG], [LoaiDG], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [IsDeleted]) VALUES (N'DG003', N'LDOCGIA_A', CAST(N'2004-01-19' AS Date), N'26 Lê Th? Riêng, phu?ng B?n Thành, qu?n 1, Tp. H? Chí Minh', N'dangphanthanh42@gmail.com', CAST(N'2022-12-13' AS Date), 0)
GO
INSERT [dbo].[PHIEUMUON] ([MaPhMuon], [MaDG], [MaSach], [NgayMuon], [NgayPhTra], [IsDeleted]) VALUES (N'4Q5wC', N'DG009', N'SH003', CAST(N'2024-05-24' AS Date), CAST(N'2024-06-23' AS Date), 0)
INSERT [dbo].[PHIEUMUON] ([MaPhMuon], [MaDG], [MaSach], [NgayMuon], [NgayPhTra], [IsDeleted]) VALUES (N'5hATx', N'DG007', N'SH002', CAST(N'2024-05-24' AS Date), CAST(N'2024-06-23' AS Date), 0)
INSERT [dbo].[PHIEUMUON] ([MaPhMuon], [MaDG], [MaSach], [NgayMuon], [NgayPhTra], [IsDeleted]) VALUES (N'noTKL', N'DG001', N'SH001', CAST(N'2024-05-23' AS Date), CAST(N'2024-06-22' AS Date), 0)
GO
SET IDENTITY_INSERT [dbo].[PHIEUTHU] ON 

INSERT [dbo].[PHIEUTHU] ([ID], [MaPhTra], [SoNgayQHan], [SoTienThu]) VALUES (1, N'PT001', 193, 965000)
INSERT [dbo].[PHIEUTHU] ([ID], [MaPhTra], [SoNgayQHan], [SoTienThu]) VALUES (2, N'PT003', 209, 1045000)
INSERT [dbo].[PHIEUTHU] ([ID], [MaPhTra], [SoNgayQHan], [SoTienThu]) VALUES (3, N'PT005', 9, 45000)
SET IDENTITY_INSERT [dbo].[PHIEUTHU] OFF
GO
INSERT [dbo].[PHIEUTRA] ([MaPhTra], [MaPhMuon], [NgayTra], [IsDeleted]) VALUES (N'ASST2', N'wiP7V', CAST(N'2024-05-20' AS Date), 0)
INSERT [dbo].[PHIEUTRA] ([MaPhTra], [MaPhMuon], [NgayTra], [IsDeleted]) VALUES (N'I4tFE', N'PM007', CAST(N'2024-05-25' AS Date), 0)
INSERT [dbo].[PHIEUTRA] ([MaPhTra], [MaPhMuon], [NgayTra], [IsDeleted]) VALUES (N'PT001', N'PM008', CAST(N'2024-05-21' AS Date), 0)
GO
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TheLoai], [TacGia], [NamXB], [NhaXB], [NgayNhap], [TriGia], [TinhTrang], [IsDeleted]) VALUES (N'SH001', N'Ten sach 1', N'Giao trinh', N'Tac gia 1', 2000, N'DHQG HCM', CAST(N'2001-02-24' AS Date), 75000, 1, 0)
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TheLoai], [TacGia], [NamXB], [NhaXB], [NgayNhap], [TriGia], [TinhTrang], [IsDeleted]) VALUES (N'SH002', N'Ten sach 2', N'Sach tham khao', N'Tac gia 2', 2003, N'DHQG HCM', CAST(N'2005-03-15' AS Date), 100000, 1, 0)
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TheLoai], [TacGia], [NamXB], [NhaXB], [NgayNhap], [TriGia], [TinhTrang], [IsDeleted]) VALUES (N'SH003', N'Ten sach 3', N'Truyen tranh', N'Tac gia 3', 2015, N'Nha xuat ban 1', CAST(N'2019-10-14' AS Date), 50000, 1, 0)
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DOCGIA] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PARAMETERs] ADD  DEFAULT ((0)) FOR [IDDocGia]
GO
ALTER TABLE [dbo].[PARAMETERs] ADD  DEFAULT ((0)) FOR [IDSach]
GO
ALTER TABLE [dbo].[PARAMETERs] ADD  DEFAULT ((0)) FOR [IDPhMuon]
GO
ALTER TABLE [dbo].[PARAMETERs] ADD  DEFAULT ((0)) FOR [IDPhThu]
GO
ALTER TABLE [dbo].[PARAMETERs] ADD  DEFAULT ((5000)) FOR [IDPhTra]
GO
ALTER TABLE [dbo].[PARAMETERs] ADD  DEFAULT ((30)) FOR [SoNgMuonTD]
GO
ALTER TABLE [dbo].[PHIEUMUON] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PHIEUTRA] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SACH] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([MaDG])
REFERENCES [dbo].[DOCGIA] ([MaDG])
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD FOREIGN KEY([MaDG])
REFERENCES [dbo].[DOCGIA] ([MaDG])
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD FOREIGN KEY([MaPhTra])
REFERENCES [dbo].[PHIEUTRA] ([MaPhTra])
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD FOREIGN KEY([MaPhMuon])
REFERENCES [dbo].[PHIEUMUON] ([MaPhMuon])
GO
